* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f3f3f3;
}

body {
    background: rgb(20, 30, 48);
    background: linear-gradient(180deg, rgba(20, 30, 48, 1) 0%, rgba(36, 59, 85, 1) 100%) no-repeat;
    color: white;
}

html {
    min-height: 100%;
}

.header li {
    margin: 0;
    list-style: none;
}

.header a {
    text-decoration: none;
    color: #f3f3f3;
    margin: 0;
}

.header {
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.container {
    padding: 1rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover {
    color: #475569;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
}


/* #region scroll */

.square {
    width: calc(100% / 3);
    display: flex;
    justify-content: space-between;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square-inner {
    width: 100%;
    height: 100%;
    background-color: #191919;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #fff;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* #endregion */

.watching-movie-panel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-panel {
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
}

.login-panel form input {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 2%;
}

.login-panel form input[type=text] {
    outline: none;
}

.login-panel form {
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    background: rgb(20, 30, 48);
    background: linear-gradient(180deg, rgba(20, 30, 48, 1) 0%, rgba(36, 59, 85, 1) 100%);
}

.right {
    width: 20%;
    border: 1px solid #000;
    border-top-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    margin-left: -1px;
    padding: 10px;
    min-height: 80vh;
}

.user-drop-down-panel {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.user-in-room {
    height: 3.5vh;
    width: 100%;
    padding: 0 1vw;
    border: #fff 1px solid;
    display: flex;
    margin: 1px 15px;
    justify-content: space-between;
    align-items: center;
}

.user-in-room h3 {
    font-size: 1rem;
}

.square-inner .btn-danger {
    margin: 5px
}

.left {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.left video,
iframe {
    width: 100%;
    height: 700px;
}

.header-of-chat {
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.chat {
    height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
}

.join {
    color: #ccc;
    font-size: 1.1rem;
}

.message {
    color: #fff;
}

.message-holder {
    border-radius: 15px;
    padding: 15px 25px;
    background-color: #19293b;
    border-top: 1px solid #ccc;
}

.message-holder input[type=text] {
    width: 90%;
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
}

.fa-paper-plane:hover {
    cursor: pointer;
}

#users-to-change {
    display: none;
}

.video-js {
    width: 100%;
    height: 500px;
}

.room-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
    width: 25%;
    background-color: #ccc;
    justify-content: space-between;
    margin-right: 2%;
}

.heading-of-room-card {
    margin: 0 auto;
    margin-top: 4%;
}

.info-room-card {
    margin: 0 auto;
}

.wrapper {
    padding: 15px;
    width: 100%;
    display: flex;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.numbering-rooms {
    font-size: 2.5rem;
    color: white;
    letter-spacing: 3px;
}

.is-room-secure {
    font-size: 0.8rem;
    color: white;
    letter-spacing: 3px;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form button {
    background-color: transparent;
    position: relative;
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.login-box button span {
    position: absolute;
    display: block;
}

.login-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.login-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}

#notfound {
    position: relative;
    height: 100vh;
    background: #030005;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}

.notfound .notfound-404 {
    position: relative;
    height: 180px;
    margin-bottom: 20px;
    z-index: -1;
}

.notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 224px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -12px;
    color: #030005;
    text-transform: uppercase;
    text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
    letter-spacing: -20px;
}

.notfound .notfound-404 h2 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 2px 0px #8400ff;
    letter-spacing: 13px;
    margin: 0;
}

.notfound a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    color: #ff005a;
    text-decoration: none;
    border: 2px solid;
    background: transparent;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound a:hover {
    color: #8400ff;
}

@media only screen and (max-width: 332px) {
    .notfound .notfound-404 h1 {
        font-size: 12px;
    }
    a.nav-logo {
        font-size: 1.5rem;
    }
    .message-holder input {
        width: 90%;
    }
    a.nav-link {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 h2 {
        font-size: 24px;
    }
    a.nav-logo {
        font-size: 1.5rem;
    }
    .message-holder input {
        width: 90%;
    }
    a.nav-link {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1080px) {
    .message-panel {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4.3rem;
        flex-direction: column;
        background: rgb(20, 30, 48);
        background: linear-gradient(0deg, rgba(20, 30, 48, 1) 0%, rgba(36, 59, 85, 1) 100%);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #chat-to-change {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    /* Todo: invisible scroll */
    .chat {
        height: 50.5vh;
        border-radius: 15px;
        padding: 10px;
        overflow-y: visible;
        padding-right: 17px;
        box-sizing: content-box;
    }
    .right {
        width: 100%;
        border-left: none;
        padding: 0;
        min-height: auto;
    }
    iframe {
        height: 211px;
        width: 100%;
    }
    .left {
        width: 100%;
    }
    #message {
        width: 93%;
    }
    .header-of-chat h1 {
        font-size: 1.2rem;
    }
    .hamburger {
        position: absolute;
        display: block;
        cursor: pointer;
        width: 10%;
        right: 10%;
        top: 35%;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .fa-user,
    .fa-comments {
        margin: 0 5px;
    }
    .square {
        width: 50%;
    }
    .login-box {
        width: 300px;
    }
}


/*  */