{{>header}}
<div class="login-box">
  <h2>Create room</h2>
  <form action="/create-room">
  <div class="user-box">
      <input type="password" name="" required="">
      <label>Youtube src</label>
    </div>
    <div class="user-box">
      <input type="password" name="" required="">
      <label>Password (Optional)</label>
    </div>
    <button>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Create room
    </button>
  </form>
</div>