<div class="header">
  <a href="/" class="logo">WatchTogether</a>
  <div class="header-right">
    <a href="/">Home</a>
    {{#if isLogged}}
    <a href="create-room">Create Room</a>
    <a href="logout">Logout</a>
    {{else}}
    <a href="register">Register</a>
    <a href="login">Login</a>
    {{/if}}
  </div>
</div>